.App {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  text-align: center;
  font-size: 3.8rem;
  padding: 5rem;
}
.recipe {
  font-size: 3.5rem;
  padding: 5rem;
}
.ingredient {
  height: 8rem;
  padding: 1rem;
}
.ingredient:nth-child(even) {
  background-color: #eeeeee;
}
